//color
$color-white : #ffffff;
$color-inherit : inherit;
$color-white   : #ffffff;
$color-font    : #4c4c4c;
$color-black   : #000000;
$color-text    : #4d4d4d;
$color-red     : #e74c3c;
$color-red-rgb : rgba(231, 77, 60, 0.812);
$color-hr      : #e6e6e6;
$color-bar     : #e6e6e6;
$color-green   : #0acd97;
$color-menu    : #aaa;
$color-nav    : #cecece;

// font 
$font-opensans : 'Open Sans', sans-serif; 